<container>
    <row>
        <columns large="6">
            <row>
                <columns large="2">
                    <img src="{{root}}/assets/img/kayak_email/logo_circle.png" class=""/>
                </columns>
                <columns large="10">
                    logo
                </columns>        
            </row>
        </columns>
        <columns large="6">
            <row>
                <columns large="6">
                    <img src="{{root}}/assets/img/kayak_email/appstore.png" class=""/>
                </columns>
                <columns large="6">
                    <img src="{{root}}/assets/img/kayak_email/playstore.png" class=""/>
                </columns>        
            </row>
        </columns>

    </row>
</container>