<container class="footer">
    <row class="footer-top">
        <columns small="7" large="5" class="">
            <row>
                <columns small="3" large="2">
                    <img src="{{root}}/assets/img/kayak_email/logo_circle.png" class="circle-logo"/>
                </columns>
                <columns small="9" large="9" class="info-section">
                    <span class="call-to-action">Download the app</span>
                    <span class="info">Cheap flights, hotels & more</span>
                </columns>        
            </row>
        </columns>
        <columns small="5" large="7" class="store-logos">
            <row>
                <columns large="6" class="valign-mid">
                    <img src="{{root}}/assets/img/kayak_email/appstore.png" class="appstore"/>
                </columns>
                <columns large="6" class="valign-mid">
                    <img src="{{root}}/assets/img/kayak_email/playstore.png" class="playstore"/>
                </columns>        
            </row>
        </columns>

    </row>
</container>