<container class="footer">
    <row class="footer-top">
        <columns large="6">
            <row>
                <columns large="2">
                    <img src="{{root}}/assets/img/kayak_email/logo_circle.png" class=""/>
                </columns>
                <columns large="9" class="info-section valign-mid">
                    <span class="call-to-action">Download the app</span>
                    <span class="info">Cheap flights, hotels & more</span>
                </columns>        
            </row>
        </columns>
        <columns large="6" class="store-logos">
            <row>
                <columns large="6" class="valign-mid">
                    <img src="{{root}}/assets/img/kayak_email/appstore.png" class="appstore"/>
                </columns>
                <columns large="6" class="valign-mid">
                    <img src="{{root}}/assets/img/kayak_email/playstore.png" class="playstore"/>
                </columns>        
            </row>
        </columns>

    </row>
</container>